extends layout

block content
  script(src='/javascripts/twitter.js')

  h1= title

  div(class="vert_align")
    form(id="newTwit")
      h3(class="wrap") Compose a Twit
      input(class="textbox", name="twit")
      input(class="button", type="submit", value="Send Twit")

    div(class="padding")
  include _twits